In [1]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
x=int(input("enter the value of x:"))
result=a*(x**2)+b*x+c
print("the result of the equation is ",result)

enter the value of a: 2
enter the value of b: 1
enter the value of c: 2
enter the value of x: 3

the result of the equation is  23

In [3]:
a=10
b=2
print(a,b)
a,b=b,a

10 2

In [5]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print(a,b)
temp=a
a=b
b=temp
print(a,b)

enter the value of a: 2
enter the value of b: 3

2 3
3 2

In [7]:

#swapping using airthemetic operators + -
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swap",a,b)
a=a+b
b=a-b
a=a-b
print("after swap",a,b)

enter the value of a: 4
enter the value of b: 5

before swap 4 5
after swap 5 4

In [9]:
#swapping using airthemetic operators * /
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swap",a,b)
a=a*b
b=a/b
a=a/b
print("after swap",round(a),round(b))

enter the value of a: 7
enter the value of b: 9

before swap 7 9
after swap 9 7

In [11]:
#swapping using airthemetic operators xor
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swap",a,b)
a=a^b
b=a^b
a=a^b
print("after swap",round(a),round(b))

enter the value of a: 7
enter the value of b: 6

before swap 7 6
after swap 6 7

In [15]:
#write a code to calculate the area and circumference by taking a manual radius and assigning the pi valu
r=float(input("enter the radius:"))
pi=3.14159
area=pi*r**2
circumference=2*pi*r
print(area)
print(circumference)

enter the radius: 7.5

176.7144375
47.12385

In [17]:
from math import pi
r=float(input("enter the radius:"))
area=pi*r**2
circumference=2*pi*r
print(area)
print(circumference)

enter the radius: 7.5

176.71458676442586
47.12388980384689

In [19]:
#power and sqrt
from math import sqrt,pow
n=16
print(sqrt(n))
print(pow(2,3))

4.0
8.0

In [23]:
#trignomtric functions
from math import sin,cos,tan,radians
angle=30
print("sin:",sin(radians(angle)))
print("cos:",cos(radians(angle)))
print("tan:",tan(radians(angle)))

sin: 0.49999999999999994
cos: 0.8660254037844387
tan: 0.5773502691896257

In [25]:
from math import floor,ceil
num=3.2
print("floor:",floor(num))
print("ceil:",ceil(num))

floor: 3
ceil: 4

In [27]:
from datetime import datetime
now=datetime.now()
print("current time:",now)
print("Date:",now.date())
print("time:",now.time())

current time: 2025-05-09 11:26:15.159581
Date: 2025-05-09
time: 11:26:15.159581

In [5]:
import calendar
year=2005
print(calendar.calendar(year))

                                  2005

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [7]:
import calendar
year=2024
print("Is leap year",calendar.isleap(year))

Is leap year True

In [23]:
#dates difference
from datetime import date
d1=date(2025,5,9)
d2=date(2024,1,1)
diff=d1-d2
print(diff.days)

494

In [25]:
#day observation
from datetime import date
today=date.today()
name =today.strftime("%A")
print(name)

Friday

In [27]:
from datetime import date
today=date.today()
print(today)

2025-05-09

In [37]:
#print first and last date of a month
import calendar
from datetime import date
year=2025
month=5
fday=date(year,month,1)
lday=date(year,month,calendar.monthrange(year,month)[1])
print("Firstday:",fday.strftime("%A,%Y-%M-%D"))
print("lastday:",lday.strftime("%A,%Y-%M-%D"))

Firstday: Thursday,2025-00-05/01/25
lastday: Saturday,2025-00-05/31/25