In [8]:
def hi():
    print("hello students")
    print("surya"*5)
hi()

hello students
suryasuryasuryasuryasurya

In [16]:
#function with parameters return value
def add(a,b):
    return a+b
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
total=add(student1,student2)
print("total amount:",total)

enter the money: 40
enter the money: 50

total amount: 90

In [18]:
#function with parameters no return value
def add(student1,student2):
    print("total:",student1+student2)
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
add(student1,student2)

enter the money: 50
enter the money: 50

total: 100

In [20]:
def value():
    return 3.14159
result=value()
print("value in the function is",result)

value in the function is 3.14159

In [22]:
def get_name():
    name=input("enter your name:")
    return name
username=get_name()
print("welcome",username)

enter your name: surya

welcome surya

In [24]:
a=100
def value(a):
    return a+20
op=value(a)
print(op)

120

In [26]:
def info(name='unknown',age=0):
    print("Name:",name)
    print("Age:",age)
info("vijay",32)
info("surya")
info(age=21)
info()

Name: vijay
Age: 32
Name: surya
Age: 0
Name: unknown
Age: 21
Name: unknown
Age: 0

In [30]:
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum=cal(a,b)
print("sum=",sum)

enter a: 10
enter b: 20

sum= (30, -10, 200, 0.5)

In [34]:
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum,diff,pro,div=cal(a,b)
print("sum=",sum)
print("subract=",diff)
print("multiply=",pro)
print("division=",div)

enter a: 10
enter b: 20

sum= 30
subract= -10
multiply= 200
division= 0.5

In [82]:
def max_min(a,b,c):
    return max(a,b,c),min(a,b,c)
a=int(input(""))
b=int(input(""))
c=int(input(""))
maxi,mini=max_min(a,b,c)
print("maximum:",maxi)
print("minimum:",mini)

 3
 5
 7

TypeError: 'int' object is not callable

In [88]:
def eo(numbers):
    e=0
    o=0
    for n in numbers:
        if n%2==0:
            e+=1
        else:
            o+=1
    return e,o
num=input("enter the numbers:")
num_list=list(map(int,num.split()))
e,o=eo(num_list)
print("even count:",e)
print("odd count:",o)

enter the numbers: 34 567 8 90 3

even count: 3
odd count: 2

In [92]:
expo=lambda a:a**a
print(expo(3))

27

In [98]:
add=lambda a,b: a+b
print("sum:",add(7,8))

sum: 15

In [100]:
is_even=lambda n:n%2==0
print("Is 6 even?",is_even(6))

Is 6 even? True

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]
sq=list(map(lambda n))